$body-bg: hsl(210, 60%, 98%);
$main-color: hsl(219, 85%, 26%);
$secondary-color: hsl(224, 21%, 14%);
$txt-color: #000;

$white: hsl(0, 0%, 100%);
$black: #000;
$red: hsl(1, 90%, 64%);

$white: hsl(0, 0%, 100%);
$very-light-grayish-blue: hsl(210, 60%, 98%);
$light-grayish-blue-1: hsl(211, 68%, 94%);
$light-grayish-blue-2: hsl(205, 33%, 90%);
$grayish-blue: hsl(219, 14%, 63%);
$dark-grayish-blue: hsl(219, 12%, 42%);
$very-dark-blue: hsl(224, 21%, 14%);

$mobile-width: 450px;
$tablet-width: 800px;

$font-family: 'Plus Jakarta Sans', sans-serif;